<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link rel="stylesheet" href="../styles/login & register.css" />
    <link
      rel="shortcut icon"
      href="../assets/whitelogo.png"
      type="image/x-icon"
    />

    <!-- font awersome icons -->
    <script
      src="https://kit.fontawesome.com/69266619cf.js"
      crossorigin="anonymous"
    ></script>
  </head>

  <body>
    <div class="curtain-container">
      <form class="main-container">
        <div class="logo-img-container">
          <img src="../assets/whitelogo.png" alt="logo" class="logo-img" />
        </div>

        <div class="input-icon-container">
          <i class="fa-solid fa-envelope"></i>
          <input type="text" placeholder="Email" value="" id="email-input-field"/>
        </div>

        <div class="input-icon-container">
          <i class="fa-solid fa-lock"></i>
          <input type="password" placeholder="Password" value="" id="password-input-field"/>
        </div>

        <button id="login-btn">Login</button>

        <div class="phrase-container">
          <span
            >Don't have an account already?
            <a href="/register"> Register now</a></span
          >
        </div>
      </form>
    </div>
  </body>

  <script defer>
    


    window.onload = async () => {
        const authTokenCookie = localStorage.getItem("auth-token-cookie")
        console.log(window.origin)
        const res = await fetch(window.origin + '/verifyauthorization', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'authorization': authTokenCookie || null
            }
        });
        console.log('here')
        const data = await res.json()
        console.log(data)
        if(!data.error) window.location.href = '/dashboard'
    }




    let email = document.getElementById('email-input-field');
    let password = document.getElementById('password-input-field');
    document.getElementById('login-btn').addEventListener("click", async (e) => {
        
        e.preventDefault();
        const returned = quickvalidation(email.value, password.value);
        if (returned.isvalid) {

            const foundToken = localStorage.getItem("auth-token-cookie");

            const res = await fetch(window.origin + '/account/login', {
                method: "POST",
                body: JSON.stringify({email: email.value, password: password.value}),
                
                headers: {"Content-type": "application/json",
                "authorization": foundToken || null
                }
            }
        );

            const data = await res.json();
            console.log(data)
            if (!data.error){
                localStorage.setItem("auth-token-cookie", data.token)
                window.location.href = "/dashboard"
            }



        } else {
            alert(returned.message)
        }


    
     

    })


    function quickvalidation(email, password){
        if (email.trim() === "" || password.trim() === "") return {isvalid: false, message: "Empty field"}
        if (email.length >= 150 || password.length >= 50) return {isvalid: false, message: "Field is too long."}
        if (email.length <= 6 || password.length < 6) return {isvalid: false, message: "Field is too short."}
        return {isvalid: true, message: "Success"}
    }

  </script>
</html>
